nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #000000;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}

nav .brand-logo {
  position: absolute;
  color: #000000;
  display: inline-block;
  font-size: 2.2rem;
  padding: 0;
}

.left {
  float: left !important;
  margin-left: 11%;
}

.containern {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
}

.white-shadow {
  text-shadow: 0px 0px 2px #ffffff;
}

.center-content {
  display: block;
  margin: 10%;
  text-align: center;
  justify-content: center;
}

.center-content-less-margin {
  display: block;
  margin: 2%;
  text-align: center;
  justify-content: center;
}

.page-contatiner {
  margin: 5%;
}

.box{
  float:left;
  width:30%;
  margin: 1%;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
  background-color: #00c4b2;
}

.equal-size {
  position: relative;
  float: left;
  height: 20vw;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.page-bottom{
  position: relative;
  bottom: 0;
  float: bottom;
}

.para {
  text-align: left;
  text-indent: 21px;
}

.para-content {
  margin: 5%;
}

.detail-card {
  width: 100vw;
  height: 50vh;
}

.alert-success {
  text-decoration-color: #000000;
  background-color: rgba(86, 255, 103, 0.3);
  font-size: 20em;
}

.alert-fail {
  text-decoration-color: #000000;
  background-color: rgba(255, 48, 48, 0.3);
  font-size: 20em;
}

body {
    background-color: #f2fffd;
}

.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  width: 300px;
  height: 480px;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}