nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #000000;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}

nav .brand-logo {
  position: absolute;
  color: #000000;
  display: inline-block;
  font-size: 2.2rem;
  padding: 0;
}

.left {
  float: left !important;
  margin-left: 11%;
}

.containern {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
}

.white-shadow {
  text-shadow: 0px 0px 2px #ffffff;
}

.center-content {
  display: block;
  margin: 10%;
  text-align: center;
  justify-content: center;
}

.center-content-less-margin {
  display: block;
  margin: 2%;
  text-align: center;
  justify-content: center;
}

.page-contatiner {
  margin: 5%;
}

.box{
  float:left;
  width:30%;
  margin: 1%;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
  background-color: #00c4b2;
}

.equal-size {
  position: relative;
  float: left;
  height: 20vw;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.page-bottom{
  position: relative;
  bottom: 0;
  float: bottom;
}

